.tab-wrapper {
  padding: 16px;
}

.tab-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
}
.tab{
  flex-grow: 1;
  padding:5px;
  list-style:none;
  border:solid 1px #CCC;
  text-align:center;
  cursor:pointer;
  margin: 0px;
}
.tab-width {
  width: 25%;
}

.panel-group{
  border:solid 1px #CCC;
  border-top:none;
  background:#FFF;
  margin: 0px;
}
.panel{
  display:none;
}
.tab.is-active{
  background:#F00;
  color:#FFF;
  transition: all 0.2s ease-out;
  margin: 0px;
}
.panel.is-show{
  display:block;
  margin: 0px;
}

.margin0 {
  margin: 0px;
  padding: 16px;
}

@media screen and (max-width: 600px) {
  .tab-width {
    width: 50%;
  }
}